* {
  font-family: "Inter", sans-serif;
}
.whatsapp-cta {
  border-radius: 8px;
  padding: 7px 18px;
  background: white;
  border: 1px solid #27ae60;
  color: #27ae60;
}
.whatsapp-cta i {
  color: #27ae60;
}
.call-cta {
  border-radius: 8px;
  padding: 7px 18px;
  background: linear-gradient(to left, #0acefe, #2699fb);
  color: #fff;
  border: none;
}
.hs {
  padding: 4rem 0;
}

.hs_heading {
  font-size: 52px;
  font-weight: bold;
  line-height: 68px;
}
.hs_highlight {
  color: #2699fb;
  background: url(../images/ctabg.svg);
  background-repeat: no-repeat;
  background-position-y: bottom;
}
.hs_para {
  font-size: 22px;
  line-height: 35px;
  font-weight: 400;
  color: #0a2134;
  padding: 10px 0px;
}
.hs_list {
  list-style-type: none;
}
.hs_list li {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #0a2134;
  padding: 5px 0px;
}
.hs_list li i {
  color: #2699fb;
  height: 20px;
  width: 20px;
}
.btn-group {
  padding: 12px 28px;
  font-size: 16px;
  line-height: 28px;
  border-radius: 8px;
}
.btn-demo {
  color: white;
  background: linear-gradient(to right, #0acefe, #2699fb);
  border: 1px solid #2699fb;
}
.btn-download {
  align-items: center;
  background: white;
  border: 1px solid #d0d5dd;
}
.hs-form {
  padding: 40px !important;
}
.form-heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  color: #101828;
}
.form-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4rem;
  color: #43505b;
}
.form-submit {
  color: white;
  background: linear-gradient(to right, #0acefe, #2699fb);
  border: 1px solid #2699fb;
  width: 100%;
}
.statistic {
  border-radius: 8px;
}
.stats-heading {
  color: #2699fb;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
}
.stats-desc {
  color: #43505b;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.highlights,
.faq-section {
  background-color: #f7faff;
  padding: 4rem 0;
}
.highlight-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  font-style: bold;
  color: #0a2134;
}
.highlight-para {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #0a2134;
}
.highlight-wrapper {
  border-radius: 8px;
}
.highlight-img {
  object-fit: contain;
  width: 20%;
}
.highlight-item h4 {
  width: 80%;
  color: #0a2134;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}
.highlight-item p {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: #43505b;
}
.faq-heading {
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
  color: #0a2134;
  width: 80%;
  text-align: center;
}
.faq-desc {
  color: #0a2134;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  text-align: center;
}
.accordion-button:not(.collapsed) {
  background-color: white !important;
  box-shadow: none !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-item:has(.accordion-collapse.show),
.accordion-item:has(.accordion-collapse.collapsing) {
  border: 2px solid #2699fb !important;
  border-radius: 4px !important;
}
.accordion-button:not(.collapsed) {
  color: #2699fb !important;
}
.accordion-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
}
.accordion-text {
  color: #0a2134;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.career-options {
  background-color: white;
  padding: 4rem 0;
}
.career-title {
  width: 70%;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #0a2134;
  text-align: center;
}
.career-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
.carreritem-title {
  color: #0a2134;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
}
.carreritem-desc {
  font-size: #0a2134;
  font-size: 15px;
  line-height: 22px;
}
.shadow-custom {
  box-shadow: 0px 4px 20px -2px #002f5814;
}
.certificate-section {
  background-color: #f7faff;
  padding: 4rem 0;
}
.certificate-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #0a2134;
}
.certificate-desc {
  color: #0a2134;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}
.certificate-item {
  border-radius: 8px;
  border: 1px solid #f2f4f7;
  justify-content: center;
  align-items: center;
  padding: 18px 25px;
  gap: 2rem;
}
.text-wrapper .text-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  color: #0a2134;
}
.text-wrapper .text-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #0a2134;
}
.bg-certificate {
  position: absolute;
  z-index: -1;
  left: 5%;
  top: -2%;
}
.ellipse {
  position: absolute;
  bottom: -10%;
  z-index: -1;
  right: 0;
}
